* {
    margin: 0;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

a {
    margin: 0;
    text-decoration: none;
}

.pinAppStyle {
    color: #b52519;
    font-family: 'Pacifico', cursive;
}

main {
    width: 100vw;
    height: 100vh;
    color: #2a2a2a;
    position: relative;
}

body {
    letter-spacing: .5px;
    margin: 0px;
    text-align: center;
    justify-content: center;
}

.titleFonts {
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    color: #f20909;
}

.simpleText {
    color: lightgrey;
    font-weight: 100;
}

.componentContainer {
    width: 96vw;
    height: 80vh;
    top: 55px;
    padding: 2vw;
    display: flex;
    position: absolute;
}

/* ********* Welcome Container ************* */

.welcomeContainer {
    height: 100vh;
    width: 100vw;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
}

.welcomeContainer h1 {
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px 12px black;
    padding: 2vh;
}

.welcomePageLogoImgContainer {
    height: 33vh;
    color: blue;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcomePageLogoImg {
    height: 90%;
    padding-top: 5vh;
}

.introText {
    color: white;
    width: 90%;
    max-width: 500px;
    padding: 2vh;
    font-family: Roboto;
}

.introTextArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2vh 0;
}

.welcomeText {
    color: white;
    font-family: Roboto;
    font-size: 2em;
    padding: 2vh;
}

/* ********* Route Container ************* */

.routeContainer {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    background-size: auto 100%;
    background-repeat: cover;
    background-repeat: no-repeat;
    justify-items: center;
    align-items: center;
}

/* ********* App Container ************* */

.appContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ********* MAP ************* */

.mapContainer {
    animation: 3s ease-in;
    width: 100%;
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: absolute;
}

.mapInfoText{
    color: lightgrey;
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 0.12em;
}
.mapContainerDown {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
}

.mapContainerLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categoryList {
    width: 25vw;
    margin: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categoryItem {
    margin: 0.5vh 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.categoryItem [type=checkbox] {
    z-index: 1;
    zoom: 2;
    opacity: 0;
}

.categoryItem [type=checkbox]:checked {
    background-color: black !important;
    color: orange !important;
}

.categoryItemPinIcon {
    max-width: 20px;
    height: auto;
    padding: 0 10px;
    position: absolute;
    left: -8px;
    z-index: -1;
}

.categoryItemPinIcon:hover {
    cursor: pointer;
}

.categoryItemText {
    display: flex;
    align-items: center;
    padding: 0px 15px;
}

.mapContainerRight {
    min-width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0 5vw;
    position: relative;
}

.mapContainerRightUP {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mapContainerRightDOWN {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 80%;
    width: 100%;
    min-height: 50vh;
    min-width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapArea {
    background-size: contain;
    border-radius: 2px;
    border: 2px solid #eaeced;
    box-shadow: 2px 2px 7px -2px rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerMapButton{
    position: absolute;
    border-radius: 2px;
    width: 28px;
    height: 28px;
    bottom: 107px;
    right: 16px;
    background-image: url(/icons/targetLocationIcon.png);
    background-size: contain;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
#dropPinInCurrentLocationButton{
    position: absolute;
    font-size: 13px;
    width: 128px;
    background: none;
    border: none;
    box-shadow: none;
    font-weight: 400px;
    text-shadow: 2px 2px 2px grey;
    transform: translate(-27%,-105%);
}

.pinMyCurrentLocationPin{
    height: 38px;
}
/********** USER PROFILE (OtherProfile) ***************/

.otherUserContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.otherUserContainerUp {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.otherUserContainerDown {
    width: 100%;
    height: 85%;
    align-items: center;
    display: flex;
}

.otherUserContainerDownLeft {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otherUserContainerLeft {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.otherUserContainerLeftUp {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.otherUserContainerFriendshipButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.otherUserContainerDownRight {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapContainerUser {
    width: 100%;
    height: 58%;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position: relative;
}

.mapContainerUserLeft {
    padding-left: 1vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blue;
}

.categoryListUSer {
    width: 25vw;
    height: 50vh;
    margin: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mapContainerUserRight {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapAreaUser {
    background-size: contain;
    border-radius: 3px;
    box-shadow: 2px 2px 7px -2px rgba(0, 0, 0, 0.4);
    height: 80%;
    width: 80%;
    position: relative;
}

.infoContainerUser {
    display: flex;
    align-items: center;
    padding-left: 20vh;
    width: 100%;
}

.profilePicUser {
    min-width: 85px;
    min-height: 85px;
    width: 15vh;
    height: 15vh;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-size: cover;
}

.profilePicUser img {
    max-width: 150px;
    height: auto;
}

.nameAndBioContainerUser {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 2vh;
}

.nameUser {
    padding: 1vh;
}

.bioUser {
    padding: 1vh;
    font-style: italic;
    font-family: cursive;
    color: #2a2a2a;
}

/********** EDIT PROFILE  ***********/

.profilePageContainer {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.deleteAccountButton {
    position: absolute;
    right: 20px;
    bottom: 0%;
    height: 20px;
    background-color: lightgrey;
    padding: 2px 5px;
    color: grey;
    font-size: 0.7em;
    display: flex;
    align-items: center;
    opacity: 0.5;
}

.deleteAccount:hover {
    opacity: 1;
    cursor: pointer;
}

.deleteAccountWindow {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deleteAccountWindowPopUp {
    width: 50%;
    height: 50%;
    border-radius: 20px;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.removingAccountButtonYES {
    width: 90%;
    height: 50px;
}

.removingAccountButtonYES:hover {
    background-color: rgba(255, 100, 100, 0.3);
}

.removingAccountButtonNO {
    width: 90%;
    height: 50px;
}

.profilePageContainerLeft {
    height: 40%;
    width: 40%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

.profilePicOwn {
    position: relative;
    padding: 9px;
}

.profilePicCircle {
    width: 20vw;
    height: 20vw;
    min-width: 100px;
    min-height: 100px;
    max-width: 180px;
    max-height: 180px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border: 3px solid rgba(0, 0, 0, 0.2);
    background-position: center center;
    background-size: cover;
}

.profilePageContainerRight {
    height: 40%;
    width: 40%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 2vh;
}

.profileInfoContainer {
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.test {
    background-color: purple;
    width: 100%;
    height: 100%;
}

.existingValues, .editingValues {
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileInputField {
    display: grid;
    grid-template-columns: 15vh 15vh;
    justify-items: start;
    padding: 3px;
}

.inputPropertyName {
    color: lightgrey;
    padding: 2px;
}

.inputPropertyValue {
    width: 100%;
    display: flex;
    align-items: center;
}

.editBioTextArea {
    width: 15vh;
    height: 67px;
    border: 0.5px solid lightgrey;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    overflow: auto;
    resize: none;
    outline: none;
}

.editButtons {
    width: 100px;
    display: flex;
}

.profilePic img {
    max-width: 200px;
    max-height: 200px;
    padding: 10px;
}

.profilePicButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/******* DROPDOWN MENU CONTAINER ****************/

#overley {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0px;
    right: 0px;
    z-index: 8;
}

.dropDownMenu {
    position: absolute;
    padding: 1vw;
    width: 9vw;
    min-width: 120px;
    top: 9vh;
    right: 0vw;
    display: flex;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid grey;
    border-radius: 2px;
    flex-direction: column;
    align-items: center;
    z-index: 13;
    transition: opacity 2s ease-in;
}

/************ FORM ***************/

.form {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: "Cutive Mono", monospace;
}

.form input {
    display: block;
    padding: 8px;
    border-radius: 2px;
    font-size: 14px;
    justify-self: center;
    justify-content: center;
    margin: 5px;
}

.welcomeForm {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    /* padding: 20px; */
    font-family: "Cutive Mono", monospace;
}

.welcomeForm input {
    display: block;
    padding: 4px;
    font-size: 14px;
    justify-self: center;
    justify-content: center;
    margin: 5px;
}

/* ******************** namseToShow component ******************** */

.searchUsers {
    min-height: 4vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 10vw;
    z-index: 1;
}

.theNamesToShowInSearch {
    font-size: 0.9em;
    text-decoration: none;
    font-weight: 400;
    color: rgb(71, 170, 188);
    cursor: pointer;
    display: flex;
    justify-content: center;
}

#searchUsersBox>textarea {
    color: #666;
    border-radius: 2px;
    margin: 2px;
    max-width: 10vw;
    border: #999 1px solid;
    overflow: auto;
    resize: none;
    height: 2vh;
    z-index: 1;
}

#searchUsersBox>textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

#searchUsersBox::placeholder {}

#searchUsers {
    color: black;
    z-index: 1;
    font-weight: 900;
}

/* ******************** droping pin component ******************** */

.uploadedImage {
    max-width: 100%;
    height: auto;
}

.profileHiddenInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/* ********** map component ********** */

.markerInput {
    position: absolute;
    top: 30vh;
    right: 15vw;
    width: 10vw;
    height: 15vh;
    border: 1px solid black;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    font-size: 2vw;
    font-weight: 700;
    color: black;
    cursor: pointer;
    width: 100%;
}

.inputfile:focus+label, .inputfile+label:hover {
    color: red;
}

.inputfile:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile+label * {
    pointer-events: none;
}

.dropDownMenuItem {
    color: #2a2a2a;
    padding: 5px;
    font-weight: 900;
}

.dropDownMenuItem:hover {
    color: #51B3C4;
    cursor: pointer;
}

.inputButton {
    width: 162px;
    justify-content: center;
}

.pinAppButton {
    background-color: #b52519;
    color: white;
    border-radius: 30px;
    font-size: 110%;
    box-shadow: inset -20px 0px 8px 0px rgba(0, 0, 0, 0.2);
    width: 15vh;
    border: 2px solid white;
    font-family: Roboto;
    font-weight: 500;
    padding: 5px;
}

.pinAppButton:hover {
    background-color: black;
    background-color: #b52519;
}

.roundButton {
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
}

.dropPinButton {
    position: absolute;
    z-index: 1;
    opacity: 0.7;
}

.dropPinButton:hover {
    opacity: 0.9;
}

.infoText {
    font-size: 0.9em;
    font-style: italic;
    color: grey;
    max-height: 50px;
}

button {
    display: block;
    color: #929A9F;
    font-size: 1.1em;
    border-radius: 2px;
    margin: 10px;
}

button:hover {
    cursor: pointer;
    background-color: #eaeced;
}

.centerStuff {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.subtleButton {
    border: none;
    min-width: 60px;
    min-height: 20px;
    font-size: 0.9em;
    display: inline;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.editButtons {
    width: 100px;
    display: flex;
}

.inARow {
    display: flex;
}

.error, .errMsg {
    color: red;
    padding: 4px;
    border-radius: 3px;
}

.logo {
    justify-self: flex-start;
    top: 10px;
    left: 10px;
}

.userImage {
    overflow: hidden;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
}

.icons {
    height: 20px;
    width: 20px;
    padding: 10px;
}

.icons:hover {
    cursor: pointer;
}

.editIcon {
    right: 2vh;
    top: 2vh;
    position: absolute;
    right: 25px;
    top: 25px;
    opacity: 0.2;
}

.editIcon:hover {
    opacity: 0.8;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centerText {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#popupShare {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 1vh;
    border: 1px solid grey;
    box-shadow: 1px 1px 11px #dcd5d5;
    height: 20vh;
    width: 16vw;
    top: -17vh;
    left: 13vw;
    background-color: white;
    z-index: 1;
    animation: aaron 6s;
    background-color: #ebeced;
}

#exitNewPin{
    position: absolute;
    color: white;
    right: 10px;
    top: 10px;
    opacity: 0.8;
    z-index: 8;
}
#exitNewPin:hover{
    cursor: pointer;
}
#exitPopupShare {
    position: absolute;
    top: 8%;
    right: 8%;
    font-size: 1.5vw;
    color: black;
    cursor: pointer;
    z-index: 2;
    opacity: 0.6;
}
#exitAddCurrentLocationButton{
    position: absolute;
    z-index: 20;
    right: 0px;
    top: -10px;
    color: lightgrey;
}
#exitAddCurrentLocationButton:hover{
    cursor: pointer;
}
@keyframes aaron {
    0% {
        top: -17vh;
    }
    10% {
        top: 14vh;
    }
    90% {
        top: 14vh;
    }
    100% {
        top: -17vh;
    }
}
.copyUrlVail{
    position: absolute;
    display: flex;
    top: 34%;
    left: 20%;
    /* top: 60%;
    left: 50%; */
    width: 300px;
    box-shadow: 11px -9px 20px rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.closeCopyUrlVail{
    position: absolute;
    width: 30px;
    z-index: 23;
    top: 10px;
    right: 4px;
    font-size: 0.8em;
}
.copyUrl {
    color: white;
    z-index: 22;
    padding: 20px;
    border-radius: 15px;
    font-size: 0.8em;
    line-height: 20pt;
    border: 3px solid white;
    background-color: #b52519;
}

#searchboxInputField {
    width: 100px;
    height: 19px;
    z-index: 1;
    position: absolute;
    top: 1.2%;
    margin: 1vh;
    right: 12%;
    padding-left: 6px;
    padding-bottom: 1px;
}

.highlightedName {
    color: red;
}
.selectedCategory{
    color: grey;
}
#footer {
    font-weight: 200;
    width: 98%;
    height: 5vh;
    position: absolute;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerLink{
    color: lightgrey;
    font-size: 0.8em;
}
.footerLink:visited{
    color: lightgrey;
    text-decoration: none;
}


@media only screen and (max-width:400px) {
    h1 {
        font-size: 1.5em;
    }
    .icons {
        height: 15px;
        width: 15px;
        padding: 7px;
    }

    .appContainer {
        height: 90vh;
    }
    .introTextArea {
        font-size: 0.9em;
    }
    .infoText {
        font-size: 0.75em;
        font-weight: 100;
    }
    .mapInfoText {
        font-size: 0.75em;
        font-weight: 100;
    }
    .pinAppButton {
        font-size: 0.9em;
        width: auto;
        padding: auto;
        border: auto;
        font-weight: 500;
    }
    .mapContainer {
        position: absolute;
        top: 11vh;
        height: 80%;
    }
    .mapContainerRight {
        width: 100%;
    }
    .mapContainerRightDOWN {
        height: 84%;
    }
    .otherUserContainerUp {
        height: 30%;
    }
    .profilePicUser {
        margin: 1.5vh;
    }
    .otherUserContainerFriendshipButton {
        position: relative;
        right: 0;
    }
    .otherUserContainerDown {
        flex-direction: column-reverse;
        height: 60%;
    }
    .otherUserContainerDownLeft {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
    .otherUserContainerDownRight {
        width: 100%;
    }
    .categoryListUser {
        width: 60%;
    }
    .categoryListUser #myForm {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .nameAndBioContainerUser {
        padding-left: 0vh;
    }
    .nameUser, .bioUser {
        font-size: 0.9em;
    }
    .mapAreaUser {
        height: 94%;
        width: 94%;
    }
    .welcomePageLogoImg {
        height: 23vh;
    }
    .profilePageContainer {
        align-items: center;
        justify-content: flex-start;
    }
    .profilePageContainerLeft {
        height: 30%;
    }
    .profilePageContainerRight {}
    .existingValues, .editingValues {
        padding-top: 0;
    }
    .editIcon {
        right: 3vh;
        top: 2vh;
    }
    #searchUsersBox>textarea {
        max-width: 100%;
    }
    .searchUsers {
        width: 100%;
    }
    #searchboxInputField {
        width: 65px;
        margin: 1vh 1.5vh;
    }
    #dropPinInCurrentLocationButton{
        padding: 3px;
    }
    .copyUrlVail{
        top: 56%;
        left: 0;
        width: 100%;
    }
    .dropDownMenu {
        top: 10vh;
    }
    .centerMapButton{
        bottom: 31.5%;
        right: 5.6%;
    }
    #exitNewPin{
        position: fixed;
    }
    #footer{
        font-size: 0.8em;
    }
}
