#ListOfLocationsHolder {
    position: absolute;
    top: 9.3vh;
    width: 100vw;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
}

#listSmallHolder {
    width: 70vw;
    height: 70vh;
    overflow: scroll;
    border-radius: 30px;
    background-color: rgb(249, 242, 224);
    padding: 1vw;
    /* border: 1vw solid rgb(71, 170, 188); */
    color: black;
}

#listClose {
    font-size: 3vw;
    position: absolute;
    top: 12vh;
    right: 2vw;
    color: white;
    z-index: 12;
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}

.thePinImg {
    width: 3vw;
    height: 7vh;
}

.flexHolder {
    display: flex;
    justify-content: center;
    align-items: center;
}

#titleOfTheLocation {
    height: 5vh;
    font-size: 2vw;
    /* border: 0px; */
    border-bottom: 3px solid black;
}

.eachPin {
    width: 100%;
    height: 15vh;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 4fr 3fr;
    grid-column-gap: 0.5vw;
    margin-bottom: 1vw;
    /* border: 1px solid black; */
}

.descHolder {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    /* border: 1px solid black; */
    /* padding: 3px; */
    padding-left: 60px;
    /* text-align: justify; */
}

.descHolder>p {
    /* display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap; */
    /* text-align: left; */
    height: 60%;
    width: 80%;
}

.categoryHolder {
    /* border-radius: 50%;
    background-color: rgb(71, 170, 188); */
}

.dateHolder {
    /* display: flex;
    justify-content: center;
    align-items: flex-end; */
}

/* .listImgHolder {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid black;
}

.listImgHolder img {
    width: 100%;
    height: 100%;
} */