main {
    background-color: #fffafa;
        {
        /*background-color: green;*/
    }
}

body {
    font: 14px "Helvetica";
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0px;
    text-align: center;
    justify-content: center;
}

.titleFonts {
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    color: #f20909;
}

.simpleText {
    color: lightgrey;
    /* font-family: 'Cutive Mono', monospace; */
    font-family: "Helvetica", monospace;
    font-weight: 100;
}

/* .container {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
} */

/* ********* Welcome Container ************* */

/* .welcomeContainer {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.welcomeContainer {
    height: 100vh;
    width: 100vw;
    position: relative;
    /* display: grid;
    grid-template-rows: 20% 20% 50%;
    justify-content: center;
    align-items: center; */
    /* padding: 30px; */
}

.welcomePageLogoImg {
    height: 20vh;
    padding-top: 10vh;
    padding-bottom: 5vh;
}

/* ********* Route Container ************* */

.routeContainer {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    background-size: auto 100%;
    background-repeat: cover;
    background-repeat: no-repeat;
    justify-items: center;
    align-items: center;
}

/* ********* App Container ************* */

.appContainer {
    width: 100vw;
    height: 100vh;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/************NAVIGATION*****************/

.navigationContainer {
    width: 100%;
    height: 10%;
    /* padding: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: lightgrey;
    background-color: purple;
    /* font-family: 'Cutive Mono', monospace; */
    font-weight: 100;
    position: relative;
}

.navigationIconBar {
    /* padding: 20px; */
    margin: 0 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: lightgrey;
    /* font-family: 'Cutive Mono', monospace; */
    font-weight: 100;
}

.navigationIconBar a {
    color: white;
    font-weight: 900;
    text-decoration: none;
    display: flex;
    align-content: center;
}

.navigationBarRight {
    display: flex;
    margin-right: 15px;
}

.navigationIcon {
    height: 40px;
    margin: 10px;
}
.navigationIconProfilepicCircle{
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    height: 35px;
    width: 35px;
    overflow: hidden;
    margin: 10px;
    border-radius: 50%;
}
.navigationIconProfilepic{
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    height: 35px;
}
.logoIconMenu {
    margin: 10px;
    max-height: 70px;
}

.navigationIcon:hover {
    cursor: pointer;
}

.logoBig {
    max-width: 25%;
    padding: 20px;
}

/* ********* MAP ************* */

.mapContainer {
    animation: 3s ease-in;
    width: 95vw;
    height: 88vh;
    margin: 10px 10px;
    display: flex;
    /* flex-direction: column; */
    justify-items: center;
    align-items: center;
    position: relative;
    /* background-color: grey; */
}

.mapContainerLeft {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categoryList {
    width: 25vw;
    height: 50vh;
    /* background-color: green; */
    margin: 10px;
    /* box-shadow: 2px 2px 2px rgba(0,0,0,0.2); */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categoryItem {
    /* background-color: black; */
    width: 90%;
    /* height: 30px; */
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.categoryItemPinIcon {
    max-width: 20px;
    height: auto;
    padding: 0 10px;
}

.categoryItemPinIcon:hover {
    cursor: pointer;
}

.categoryItemText {
    display: flex;
    align-items: center;
    padding: 0px 15px;
}

.mapContainerRight {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapArea {
    /* background-image: url('/map.png'); */
    background-size: contain;
    background-color: pink;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    height: 60%;
    width: 70%;
    position: relative;
}
/********** USER PROFILE (OtherProfile) ***************/

.profileContainerUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    width: 90%;
    height: 90%;
    justify-content: center;
}

.mapContainerUser {
    width: 95%;
    height: 58%;
    margin: 10px 10px;
    display: flex;
    /* flex-direction: column; */
    justify-items: center;
    align-items: center;
    position: relative;
    /* background-color: grey; */
}

.mapContainerUserLeft {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.categoryListUSer {
    width: 25vw;
    height: 50vh;
    /* background-color: green; */
    margin: 10px;
    /* box-shadow: 2px 2px 2px rgba(0,0,0,0.2); */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mapContainerUserRight {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mapAreaUser {
    background-image: url('/map.png');
    background-size: contain;
    background-color: pink;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    height: 90%;
    width: 90%;
    position: relative;
}
.infoContainerUser {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    height: 20%;
}

.profilePicUser {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profilePicUser img{
    max-width: 150px;
    height: auto;
}
.nameAndBioContainerUser {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.nameUser{
    padding: 10px;
}
.bioUser{
    padding: 10px;
    font-style: italic;
    font-family: cursive;
    color: #2a2a2a;
}
/*
.mapBlockUser{
    height: 60%;
    width: 70%;
    position: relative;
    display: flex;
}
 */
/* ******** PINCLICK  *********/
.pinClickContainer{
    width: 100vw;
    height: 100vh;
    /* color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
}

/* ******** CHAT ******** */

.chatComponent {
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: relative;
}

.chatBox {
    /* background-color: pink; */
    margin-top: 50px;
    height: 50%;
    width: 60%;
}

.newChat {
    /* background-color: grey; */
    height: 10%;
    width: 60%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ChatNewTextArea {
    width: 98%;
    height: 85%;
    border-radius: 5px;
    border: 0.5px solid lightgrey;
}

/********** EDIT PROFILE  ***********/

.profilePageContainer {
    width: 90%;
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilePageContainerLeft {
    width: 30%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    /* background-color: yellow; */
    /* padding: 20px; */
}

.profilePicFrame {
    display: flex;
    position: relative;
}

.profilePicOwn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 9px;
}

.profilePicCircle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border: 3px solid rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.profilePageContainerRight {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 20px;
}

.profileInfoContainer {
    padding-top: 10vh;
    padding-left: 10vh;
    height: 30vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.existingValues, .editingValues {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileInputField {
    display: grid;
    grid-template-columns: 100px 200px;
    justify-items: start;
    padding: 3px;
}

.inputPropertyName {
    padding: 3px;
}

.inputPropertyValue {
    font-size: 0.8em;
    display: flex;
    align-items: center;
}

.editBioTextArea {
    width: 90%;
    height: 50px;
    border: 0.5px solid lightgrey;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    overflow: auto;
    resize: none;
    outline: none;
}

.editButtons {
    width: 100px;
    display: flex;
}

/********************************/
/********************************/
/********************************/
/*  NOT SURE IF I AM USING THOSE*/
/********************************/
/********************************/

/********************************/

/* .editProfile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
} */

/* .editBioContainer {
    padding: 20px;
}

.editBioBox {
    display: flex;
    width: 300px;
} */

/* .bioContainer {
    position: relative;
    display: flex;
    align-items: center;
} */

/* .bioDisplayTextArea {
    display: flex;
    width: 80%;
    height: 80px;
    font-size: 0.9em;
} */

/********************************/

/********************************/

/********************************/

/*  NOT SURE IF I AM USING THOSE*/

/********************************/

/********************************/

/********************************/

.profilePic img {
    max-width: 200px;
    max-height: 200px;
    padding: 10px;
}

.profilePicButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.uploader {
    position: absolute;
    justify-content: center;
    height: 200px;
    top: 70px;
    left: 10%;
    right: 10%;
    display: flex;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid grey;
    margin: 20px;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
}

/********** FRIENDS COMPONENT  **************/

.friendsComponent {
    width: 90vw;
    position: relative;
}

.pendingFriends {
    height: 60%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.existingFriends {
    height: 60%;
}

.pendingFriendsList {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.pendingPerson {
    width: 90%;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.pendingPerson:hover {
    background-color: #f6f6f6;
    border-radius: 20px;
}

.pendingPic {
    width: 80px;
    height: 80px;
    overflow: hidden;
    /* border: 1px solid black; */
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pendingPic:hover {
    cursor: pointer;
}

.pendingPic img {
    max-width: 100%;
    max-height: 100%;
    /* height: 50px; */
}

.pendingName {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pendingAccept {
    width: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.inARow {
    /* padding-left: 50px; */
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.existingList {
    display: flex;
    justify-content: center;
    align-items: center;
}

.removeFriendIcon {
    position: absolute;
    align-self: flex-end;
    top: 0;
}

.removeFriendIcon:hover {
    filter: invert(100%);
}

.friendBox {
    height: 200px;
    width: 200px;
    border: 2px solid lightgrey;
    overflow: hidden;
    margin: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    position: relative;
}

.friendBox:hover {
    cursor: pointer;
}

.friendBoxPic {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 200px;
    max-width: 200px;
    overflow: hidden;
}

.friendBoxPic img {
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.friendBoxText {
    position: absolute;
    top: 10px;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pendingFriendBoxText {
    position: absolute;
    top: 10px;
    /* height: 10%;
    width: 100%;
     */
    height: 10px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;
}

.existingFriendBoxText {
    padding: 10px 0;
}

/*********** ONLINE USERS ***********/

.onlineUsersList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 500px;
}

.onlineUser {
    margin: 2px;
    display: flex;
    align-items: center;
}

.onlineUserPic {
    height: 50px;
    width: 50px;
    background-color: green;
}

.onlineUserPic img {
    max-height: 50px;
    max-width: 50px;
}

.onlineUserText {
    padding: 7px;
}

/************ FORM ***************/

.form {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: "Cutive Mono", monospace;
}

.form input {
    display: block;
    padding: 8px;
    border-radius: 2px;
    font-size: 14px;
    justify-self: center;
    justify-content: center;
    margin: 5px;
}

.welcomeForm {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: "Cutive Mono", monospace;
}

.welcomeForm input {
    display: block;
    padding: 8px;
    border-radius: 2px;
    font-size: 14px;
    justify-self: center;
    justify-content: center;
    margin: 5px;
}

/************ BUTTONS ***************/

.inputButton {
    width: 162px;
    justify-content: center;
}

button {
    display: block;
    /* background-color: #f1f1f1; */
    color: red;
    /* color: #696969; */
    font-size: 1.1em;
    /* padding: 8px; */
    border: 2px solid #f6f6f6;
    border-radius: 20px;
    /* font-size:14px; */
    /* width: 100px; */
    margin: 10px;
    /* margin: 15px; */
    font-family: "Cutive Mono", monospace;
    /* box-shadow: 2px 2px 2px rgba(0,0,0,0.2); */
}

button:hover {
    cursor: pointer;
    background-color: #f6f6f6;
}

.centerStuff{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.subtleButton {
    border: none;
    width: 60px;
    margin: 10px;
    font-size: 0.8em;
    display: inline;
}

.editButtons {
    width: 100px;
    display: flex;
}

/* button {
    display: block;
    padding:10px;
    border-radius: 2px;
    font-size:14px;
    width: 166px;
    margin: 10px;
    font-family: 'Cutive Mono', monospace;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
} */

.inARow button {
    width: 60px;
    display: flex;
    align-content: center;
}

.error, .errMsg {
    color: red;
    padding: 4px;
    border-radius: 3px;
}

.logo {
    justify-self: flex-start;
    top: 10px;
    left: 10px;
}

.userImage {
    overflow: hidden;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
}

.icons {
    height: 20px;
    width: 20px;
    padding: 10px;
}

.icons:hover {
    cursor: pointer;
}

.editIcon {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 25px;
    top: 25px;
    opacity: 0.2;
}

.editIcon:hover {
    opacity: 0.8;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centerText {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* /////////// map component /////////// */

.markerInput {
    position: absolute;
    top: 30vh;
    right: 15vw;
    width: 10vw;
    height: 15vh;
    border: 1px solid black;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    font-size: 2vw;
    font-weight: 700;
    color: black;
    cursor: pointer;
    width: 100%;
}

.inputfile:focus+label, .inputfile+label:hover {
    color: red;
}

.inputfile:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile+label * {
    pointer-events: none;
}

/* ////////////// namseToShow component //////////////////////// */

.searchUsers {
    background-color: rgba(153, 168, 150, 0.38);
    height: 14vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid black;
    margin-left: -3.2vw;
    width: 8.5vw;
    position: absolute;
    top: 26vh;
    left: 5vw;
    z-index: 1;
}

.theNamesToShowInSearch {
    width: 100%;
    text-decoration: none;
}

#searchUsersBox>textarea {
    color: #666;
    font-size: 1vw;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 2px;
    height: 2vh;
    width: 7.4vw;
    border: #999 2px solid;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    box-shadow: 0 0 5px rgba(81, 203, 238, 0);
    -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
    -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
    overflow: auto;
    resize: none;
    margin-left: -3vw;
    position: absolute;
    top: 22vh;
    left: 5vw;
    z-index: 1;
}

#searchUsersBox>textarea:focus {
    color: #000;
    outline: none;
    border: #35a5e5 5px solid;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

#searchUsers {
    position: absolute;
    top: 20vh;
    left: 5vw;
    z-index: 1;
}

/* /////////////// droping pin component ///////////// */

#dropPinHeader {
    position: absolute;
    top: 23vh;
    left: 52vw;
    z-index: 1;
}

#HERE {
    color: rgb(178, 74, 187);
    cursor: pointer;
}
